<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VS</title>
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/homepage.css') }}">
</head>
<body>
    {% include "includes/header_logged.html" %}
    <main>
        <p>a</p>
        <p>b</p>
        <p>c</p>
        <p>d</p>
        <p>e</p>
        <p>f</p>
        <p>g</p>
        <p>h</p>
        <p>i</p>
        <p>j</p>
        <p>k</p>
        <p>l</p>
        <p>m</p>
        <p>n</p>
        <p>o</p>
        <p>p</p>
        <p>q</p>
        <p>r</p>
        <p>s</p>
        <p>t</p>
        <p>u</p>
        <p>v</p>
        <p>w</p>
        <p>x</p>
        <p>y</p>
        <p>z</p>
        <p>a</p>
        <p>b</p>
        <p>c</p>
        <p>d</p>
        <p>e</p>
        <p>f</p>
        <p>g</p>
        <p>h</p>
        <p>i</p>
        <p>j</p>
        <p>k</p>
        <p>l</p>
        <p>m</p>
        <p>n</p>
        <p>o</p>
        <p>p</p>
        <p>q</p>
        <p>r</p>
        <p>s</p>
        <p>t</p>
        <p>u</p>
        <p>v</p>
        <p>w</p>
        <p>x</p>
        <p>y</p>
        <p>z</p>
    </main>
</body>
</html>